# HRGZDevEngine DOOM Configuration for Xbox 360
name = DOOM
description = DOOM (HRGZDevEngine)
system = 290_PRBOOM
directory = 
executable = prboom.xex
global_options = 
rom_directory = prboom
rom_extension = wad
assets = assets\prboom
screen_shot_directory = assets\prboom\snap
map_file = prboom.map
keyboard_type = 
options_before_rom = no
use_rom_file = no
use_extension = yes
use_rom_directory = yes
no_uncompress = no
menu_show_directories = no
menu_directory_recursive = no
aspectRatio = 7
shaderMode = 1
scaleMode = -1
integerScale = 0
scaleIntMode = -1
