# HRGZDevEngine DOOM Configuration for Xbox 360
emulators=prboom
resolution_width=1280
resolution_height=720
fullscreen=no
path_prefix=game:\
aspectRatio=7
packedImages=no
scaleMode=1
scaleIntMode=0
syncMode=1
shaderMode=1
soundMode=yes
fastForwardMult=30
libretrosystem=game:\system
libretro_save=game:\data\saves
libretro_state=game:\data\states
roms_path=game:\roms
showFps=no
integerScale=no
animBG=1
mainLang=en
showEmptyEmulators=no

